In [10]:
import requests
import csv
from datetime import datetime
import os
import pandas as pd
import numpy as np

In [14]:
# load weekly NPI data

df=pd.read_csv('data/npidata_pfile_20240805-20240811.csv',low_memory=False)
df.head()

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1740968650,1.0,NaN,NaN,NaN,NEZAMI,ARHAM,EHTESHAM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/04/2024
1,1619429750,1.0,NaN,NaN,NaN,TILLEY,JULIE,WARREN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
2,1831881762,1.0,NaN,NaN,NaN,HOWELLS,TYLER,MARK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
3,1275314874,1.0,NaN,NaN,NaN,KUESTER,JUSTIN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
4,1861118556,1.0,NaN,NaN,NaN,SCHMIDT,ALLISON,NaN,MRS.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024

In [17]:
print(df.columns)

Index(['NPI', 'Entity Type Code', 'Replacement NPI',
       'Employer Identification Number (EIN)',
       'Provider Organization Name (Legal Business Name)',
       'Provider Last Name (Legal Name)', 'Provider First Name',
       'Provider Middle Name', 'Provider Name Prefix Text',
       'Provider Name Suffix Text',
       ...
       'Healthcare Provider Taxonomy Group_7',
       'Healthcare Provider Taxonomy Group_8',
       'Healthcare Provider Taxonomy Group_9',
       'Healthcare Provider Taxonomy Group_10',
       'Healthcare Provider Taxonomy Group_11',
       'Healthcare Provider Taxonomy Group_12',
       'Healthcare Provider Taxonomy Group_13',
       'Healthcare Provider Taxonomy Group_14',
       'Healthcare Provider Taxonomy Group_15', 'Certification Date'],
      dtype='object', length=330)

In [18]:
df['NPI'].nunique()

27962

In [20]:
df['Entity Type Code'].value_counts()

Entity Type Code
1.0    22623
2.0     4715
Name: count, dtype: int64

In [24]:
# filter out only individual providers and only those with NPI Reactivation Date
df = df[(df['Entity Type Code'] == 1) & (df['NPI Reactivation Date']!=" ")]
df.head()

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1740968650,1.0,NaN,NaN,NaN,NEZAMI,ARHAM,EHTESHAM,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/04/2024
1,1619429750,1.0,NaN,NaN,NaN,TILLEY,JULIE,WARREN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
2,1831881762,1.0,NaN,NaN,NaN,HOWELLS,TYLER,MARK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
3,1275314874,1.0,NaN,NaN,NaN,KUESTER,JUSTIN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024
4,1861118556,1.0,NaN,NaN,NaN,SCHMIDT,ALLISON,NaN,MRS.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/05/2024